.cards {
  display: grid;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: auto;
  list-style: none;
  border-radius: 10px;
}

.cards__list {
  display: grid;
  justify-content: center;
  padding-left: 0;
  margin-top: 51px;
  margin-bottom: 67px;
  width: 100%;
  max-width: 880px;
  height: auto;
  margin-top: 51px;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 17px 20px;
}

@media screen and (max-width: 900px) {
  .cards {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    height: auto;
    list-style: none;
    border-radius: 10px;
  }

  .cards__list {
    display: grid;
    justify-content: center;
    padding-left: 0;
    margin-top: 51px;
    margin-bottom: 67px;
    width: 100%;
    max-width: 880px;
    height: auto;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 17px 20px;
  }
}

@media screen and (max-width: 620px) {
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 645px;
    height: 1142px;
    list-style: none;
    border-radius: 10px;
  }

  .cards__list {
    display: grid;
    justify-content: start;
    justify-items: start;
    width: 587px;
    height: 1142px;
    padding-left: 0px;
    margin-top: 40px;
    margin-right: 19px;
    margin-left: 19px;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 17px 20px;
  }
}

@media screen and (max-width: 480px) {
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 645px;
    height: 1142px;
    list-style: none;
    border-radius: 10px;
  }

  .cards__list {
    display: grid;
    justify-content: start;
    justify-items: start;
    width: 587px;
    height: 1142px;
    padding-left: 0px;
    margin-top: 40px;
    margin-right: 19px;
    margin-left: 19px;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 17px 20px;
  }
}

@media screen and (max-width: 340px) {
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 645px;
    height: 1142px;
    list-style: none;
    border-radius: 10px;
  }

  .cards__list {
    display: grid;
    justify-content: start;
    justify-items: start;
    width: 587px;
    height: 1142px;
    padding-left: 0px;
    margin-top: 40px;
    margin-right: 19px;
    margin-left: 19px;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 17px 20px;
  }
}
