.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  column-gap: 17px;
  row-gap: 20px;
  justify-items: center;
  margin: 0 auto;
}

.cards__card {
  max-width: 282px;
  height: 282px;
}

.cards__content {
  width: 282px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.cards__footer {
  color: #545454;
  display: flex;
  align-items: center;
}

.cards__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
}

.cards__title {
  color: black;
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  align-items: center;
  flex: 1;
  margin: 25px 0 25px 20px;
}

.cards__heart-image {
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}

@media screen and (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
    max-width: calc(100% - 40px);
    /* margin: auto; */
  }
}