/* .footer__social-link:hover {
    color: #c1c1c1;
    transition: color 1s ease-in;
  } */
@media screen and (max-width: 1280px) {
  .footer {
  
    width: 318px;
    height: 18px;
    margin: 0;
    margin-top: 0;
    margin-bottom: 60px;
    padding-left: 0;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 880px) {
  .footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 318px;
    height: 18px;
    margin: 0;
    margin-top: 150px;
    margin-left: 147px;
    padding-left: 0;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 282px;
    width: 318px;
    height: 18px;
    margin-left: 35px;
    padding-top: 108px;
    padding-left: 0;
    padding-bottom: 30px;
  }
}
