.footer {
  margin: 0 auto;
  margin-left: 0;
 }
 
 .footer__title {
  color: #545454;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 67px;
  margin-bottom: 60px;
 }
 
 @media screen and (max-width: 595px) {
  .footer__title {
  font-size: 14px;
  line-height: 17px;
  margin: 48px 0 36px 0;
  max-width: 320px;
  }
 }