.footer {
  
    width: 318px;
    height: 18px;
    margin: 0;
    margin-top: 0;
    margin-bottom: 60px;
    padding-left: 0;
    padding-bottom: 0;
  }


@media screen and (max-width: 900px) {
  .footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 318px;
    height: 18px;
    margin: 0;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 620px) {
  .footer {
    max-width: 282px;
    width: 318px;
    height: 18px;
    margin-top: 1100px;
    margin-left: 0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  
}

@media screen and (max-width: 340px) {
  
}