.header {
  max-width: 880px;
  margin:  0;
  padding: 45px 0 40px 0;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  width: 173px;
  margin: 0 0 0 27px;
}

@media screen and (max-width: 595px) {
  .header {
    padding-top: 0;
    padding-bottom: 0;
  }

  .header__logo {
    width: 126px;
    padding: 28px 0px 32px 27px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .header__logo {
    width: 126px;
    padding: 28px 0px 32px 27px;
    margin: 0;
  }
}