.header {
  max-width: 880px;
  margin: 0 auto;
  margin: 45px 0px 0px 0px;
  color: #ffffff;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  width: 173px;
  height: 33px;
  padding: 0px 0px 41px 0px;
}

@media screen and (max-width: 800px) {
  .header__logo {
    width: 126px;
    padding: 0px 0px 32px 27px;
  }
}

@media screen and (max-width: 595px) {
  .header {
    max-width: 595px;
    margin: 28px 0px 0px 0px;
  }
  
  .header__logo {
    width: 126px;
    padding: 0px 0px 32px 27px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: 320px;
  }
  
  .header__logo {
    width: 126px;
    padding: 0px 0px 32px 27px;
  }
}