.header {
  max-width: 880px;
  height: 74px;
  margin-top: 45px;
}

.header__page-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

@media screen and (max-width: 900px) {
  .header {
    width: 765px;
    height: 74px;
    margin-top: 28px;
    margin-left: 0;
  }
}

@media screen and (max-width: 620px) {
  .header {
    background-color: black;
    color: white;
    margin-right: 19px;
    margin-left: 19px;
    width: 320px;
    height: 56px;
    margin-top: 19px;
    border: 1px solid #545454;
  }
}

@media screen and (max-width: 480px) {
  .header {
    text-align: center;
    margin-left: 19px;
    margin-top: 40px;
    border: 0;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 880vw;
    width: 320px;
    height: 56px;
    margin-top: 28px;
    border: 0;
  }

  .header__page-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    border: 1px solid #545454;
    height: 56px;
    
  }
}
