.heart {
  border: none;
  background-image: url("../images/heart.svg");
  color: #000000;
  width: 21px;
  height: 18px;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 31px 20px 30px 0;
}

.heart:hover {
  opacity: 0.5;
  transition: 0.2s;
  cursor: pointer;
}