.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  background-color: #ffffff;
  width: 430px;
  height: 330px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  position: relative;
}

.modal__close-button {
  background: transparent url("../images/large-close-icon.svg") center no-repeat;
  background-size: 40px 40px;
  border: none;
  position: absolute;
  display: block;
  height: 40px;
  width: 40px;
  cursor: pointer;
  padding: 0;
  top: -40px;
  right: -45px;
}

.modal__title {
  width: 330px;
  line-height: 29.05px;
  font-size: 24px;
  font-weight: 900;
  margin: 24px 0px 54px 36px;
  color: #000000;
}

.modal__input {
  width: 358px;
  width: calc(100% - 40px);
  margin: 0px 29.74px 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal__button {
  display: block;
  width: 358px;
  height: 50.51px;
  margin-left: 20px;
  padding: 10px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.modal__button:hover {
  background-color: #333333;
  opacity: 0.6;
  transition: 0.2s;
  cursor: pointer;
}

@media screen and (max-width: 488px) {
  .modal__container {
    /* width: 282px; */
    width: 320px;
    height: 568px;
    top: 1546px;
    left: 4347px;
    gap: 0px;
    opacity: 0px;
  }

  .modal__image {
    max-width: 240px;
  }

  .modal__close-button {
    background: transparent url("../images/small-close-icon.svg") center
      no-repeat;
    top: -35px;
    right: -15px;
  }

  .modal__title {
    font-size: 18px;
    line-height: 22px;
    margin: 8% 7.8% 27% 7.8%;
  }
}
