.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s linear, visibility 0s linear 0.3s;
}

.modal_open {
  overflow: hidden;
  visibility: visible;
  opacity: 1;
}

.modal_hidden {
  visibility: hidden;
  opacity: 0;
}

.modal__container {
  position: relative;
  top: 53px;
  left: -9px;
  background-color: #ffffff;
  max-width: 430px;
  max-height: 330px;
  width: 100%;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 34px 36px 36px 36px;
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

.modal__container-image {
  position: relative;
  top: calc(100% + -587px);
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}

.modal__image {
  width: 433px;
  height: 540px;
  max-width: 75vh;
}

.modal__title {
  display: flex;
  width: 92.7%;
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  color: rgba(0, 0, 0, 1);
  margin: 0 0 54px 0;
}

.modal__input {
  width: 100%;
  color: #000000;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  /* display: flex; */
  line-height: 17px;
  text-align: left;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  /* margin: 0px 0px 30px 0px;
  padding: 0px 0px 0px 0px; */
  outline: none;
}

.modal__image-wrapper {
  position: relative;
  width: 433px;
  height: 540px;
  overflow: hidden;
  border-radius: 10px;
}

.modal__button {
  width: 100%;
  height: 50.15px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
  margin: 18px 0px 0px 0px;
  padding: 0px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 2px 0px 0px 0px;
  cursor: pointer;
}

.modal__button:hover {
  background-color: #333333;
  opacity: 0.6;
  transition: 0.2s;
}

.modal__close-button {
  background: transparent url("../images/large-close-icon.svg") center no-repeat;
  top: -40px;
  right: -40px;
  height: 40px;
  width: 40px;
  border: none;
  position: absolute;
  z-index: 5;
}

.modal__input-label {
  /* font-family: ;
  font-style: ;
  font-weight: ;
  font-size: ;
  line-height ; */
  display: block;
  position: relative;
  margin-bottom: 30px;
}

.modal__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: 0.2s;
}

.image-modal__close-button {
  background: transparent url("../images/large-close-icon.svg") center no-repeat;
  top: -37px;
  right: -37px;
  height: 40px;
  width: 40px;
  border: none;
  position: absolute;
  z-index: 10;
}

.image-modal__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.modal__caption {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  color: white;
  font-size: 16px;
  background-color: transparent;
  padding: 10px 0px;
  white-space: nowrap;
  text-align: left;
  margin: 0px;
  z-index: 1000;
}

@media screen and (max-width: 800px) {
  .modal {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .modal__title {
    width: 330px;
    font-size: 22px;
  }

  .modal__container-image {
    top: -20px;
    left: 20px;
    max-width: 85%;
    max-height: 85%;
    /* cursor: pointer; */
  }

  .modal__image {
    width: 85%;
    height: 85%;
  }

  .modal__button {
    height: 50.15px;
    top: 438.34px;
    left: 461px;
  }
}

@media screen and (max-width: 620px) {
  .modal__container {
    width: 70%;
    max-height: 100%;
    padding: 25px 22px 25px 22px;
  }

  .modal__container-image {
    right: 0px;
    width: 240px;
    height: 299px;
  }

  .modal__image {
    width: 100%;
    height: 100%;
  }

  .modal__title {
    font-size: 18px;
    margin: 0px 0px 76px 0px;
  }

  .modal__button {
    font-size: 15px;
    padding: 12px;
    margin: 16px 0px 0px 0px;
  }

  .modal__close-button {
    left: calc(100% + 5px);
    top: calc(100% - 355px);
    width: 26px;
    height: 26px;
  }
}

@media screen and (max-width: 320px) {
  .modal__container {
    top: 45px;
    left: 0px;
    width: 90%;
    height: auto;
    padding: 20px;
    border-radius: 10px;
  }

  .modal__button {
    font-size: 14px;
    height: 40px;
    margin-top: 16px;
    margin: 16px 0px 0px 0px;
  }

  .modal__title {
    font-size: 18px;
    margin-bottom: 16px;
    width: 90%;
  }

  .modal__close-button {
    top: calc(100% + -280px);
    left: calc(100% + -35px);
  }
}
