@media only screen and (min-width: 320px) and (max-width: 1280px) {
  .page {
    max-width: 1217px;
    height: 1280px;
    margin-left: 200px;
    margin-right: 200px;
    /* height: 100vh;
  width: 100vw;  */
    background: black;
    color: white;
  }
}

@media only screen and (min-width: 320px) and (max-width: 1280px) {
  .page__content {
    background-color: black;
    min-height: 100vh;
    width: 100%;
    /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
    display: flex;
    flex-direction: column;
    /* margin-left: auto;
  margin-right: auto;  */
    /* margin-left: 200px;
  margin-right: 200px; */
    /* max-width: 880px; */
  }
}

.page__section {
  /* max-width: 880px; */
  width: 100%;
  position: relative;
  /* box-sizing: border-box; */
  margin: 0 auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}