/* body,
html {
  margin: 0;
  padding: 0;
} */

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #000;
  max-width: 100%;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
}

.page__content {
  margin: 0 auto;
  max-width: 100%;
  color: #fff;
}

@media screen and (max-width: 900px) {
  .page__content {
    max-width: 900px;
  }
}

@media screen and (max-width: 620px) {
  .page__content {
    max-width: 585px;
    margin: 0 10px 0px 10px;
  }
}

@media screen and (max-width: 480px) {
  .page__content {
    max-width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  /* .page {
     margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  } */

  .page__content {
    max-width: 100%;
    margin: 0;
  }
}