body,
html {
  margin: 0;
  padding: 0;
}

.page {
  display: flex;
  flex-direction: row;
  align-self: center;
  background: #000;
  max-width: 100%;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
}

.page__content {
  margin: 0 auto;
  max-width: 100%;
  color: #fff;
}

@media screen and (max-width: 600px) {
    .cards {  
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px;
        margin-top: 36px; 
    }
}

@media screen and (max-width: 480px) {
    .cards {  
        grid-template-columns: 1fr; 
        gap: 20px;
        justify-items: center;
        margin-top: 36px; 
    }
}

@media screen and (max-width: 320px) {
    .cards {
        margin-top: 36px; 
    }
    .page {
        margin: 0;
    }
    .page__content {
        max-width: 100%;
        margin: 0px;
        align-self: center;
    }
}