
.profile {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.profile__avatar-wrapper {
  position: relative;
  margin-right: 30px;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #ccc;
  cursor: pointer;
}

.profile__info {
  flex-grow: 1;
}

.profile__info-header {
  display: flex;
  align-items: center;
  gap: 18px;
}

.profile__name {
  font-size: 42px;
  font-weight: 500;
  margin: 0;
}

.profile__about {
  font-size: 18px;
  margin: 10px 0 0;
}

.profile__title {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  background: url("../images/edit-button.svg") center no-repeat;
  background-size: contain;
  border: none;
  cursor: pointer;
}

.profile__add-button::before {
  content: "+";
  font-size: 26px;
  color: white;
}

.profile__add-button {
  width: 150px;
  height: 50px;
  background: none;
  border: 1px solid #fff;
}

.profile__add-button:hover::before {
  color: #00ffff;
}

@media screen and (max-width: 600px) {
  .profile {
    flex-direction: column;
    text-align: center;
  }

  .profile__avatar-wrapper {
    margin: 0 0 20px;
  }

  .profile__info-header {
    justify-content: center;
    margin-bottom: 10px;
  }

  .profile__add-button {
    margin: 20px 0 0;
  }
}

@media screen and (max-width: 320px) {
 .profile__add-button {
  width: 282px;
}

.profile__name {
  width: 196px;
  height: 22px;
  font-size: 22px;
}
}